<div class="contenu-utile">
  <h3 class="text-center text-violet">discutez de l'annonce <span class="big-title">entre vous</span></h3>

  <mat-card class="carte-annonce" *ngFor="let message of linkedMessagesList | async">
    <p class="redacteur-carte bold text-vert text-left">{{message.user.prenom}}</p>
    <img src="/assets/baseline-today.svg" alt="#" /><span class="date-annonce">&nbsp;{{message.date|date:"dd/MM/yyyy"}}</span>
    <p class="bold italic">{{ message.titre }} </p>
    <p class>{{ message.contenu }} </p>
  </mat-card>
  <hr>

  <form [formGroup]="messageForm">
    <h4 class="text-vert bold majuscule">Contenu du message :</h4>
    <input type="text" name="contenu" placeholder="Veuillez rédiger votre message ici" formControlName="contenuMessage">
  </form>
  <div>
    <button class="bg-violet text-blanc" (click)="onSave()" [disabled]="messageForm.invalid">Envoyer un message</button>
  </div>


</div>