<div class="header, contenu-utile-menu">
  <div id="logo"><a routerLink='/home'><img src="assets/wfp_logo.png" /></a></div>
  <nav>
    <label for="menu-mobile" class="menu-mobile">Navigation</label>
    <input type="checkbox" id="menu-mobile" role="button">
    <ul>
      <li class="menu-icon menu-rechercher"><a routerLink='/annonces'><img src="assets/search_icon.svg" width="25px"
            height="25px" alt="Rechercher un trajet" />Rechercher un trajet</a></li>
      <li class="menu-icon menu-proposer"><a routerLink='/posterannonce'><img src="assets/calendar_icon.svg"
            width="25px" height="25px" alt="Proposer un trajet" />Proposer un trajet</a></li>
      <li class="menu-inscription"><a href="#">Inscription</a></li>
      <li class="menu-connexion"><a href="#">Connexion</a></li>
    </ul>
    <div class="clear"></div>
  </nav>
</div>