<div id="footer-top">
  <h3 id="titre-dernieres-annonces" class="text-center">nos<span class="big-title"> partenaires</span></h3>
  <ul class="contenu-utile">
    <li><a href="#"><img src="/assets/fondation-brigitte-bardot.png" alt="Fondation Brigitte Bardot" /></a></li>
    <li><a href="#"><img src="/assets/fondation-30-m-d-amis.png" alt="30 millions d'amis" /></a></li>
    <li><a href="#"><img src="/assets/spa.png" alt="SPA" /></a></li>
    <li><a href="#"><img src="/assets/ffpa.png" alt="FFPA" /></a></li>
    <li><a href="http://www.soscorgis.fr/" target = blank><img src="/assets/sos-corgis.png" alt="SOS Corgis" /></a></li>
  </ul>
</div>
<div id="footer-bottom" class="contenu-utile">
  <div id="footer-bottom-left">
    <a href="#"><img src="/assets/wfp_logo.png" alt="Wheels For Pets" /></a>
    <ul class="logo-rs">
      <li><a href="#"><img src="/assets/facebook.png" alt="Facebook" /></a></li>
      <li><a href="#"><img src="/assets/twitter.png" alt="Twitter" /></a></li>
      <li><a href="#"><img src="/assets/insta.png" alt="Insta" /></a></li>
    </ul>
  </div>
  <div id="footer-bottom-right">
    <ul>
      <li><a href="#">Rechercher un trajet</a></li>
      <li><a href="#">Proposer un trajet</a></li>
      <li><a href="#">Tous nos covoiturages</a></li>
    </ul>
    <ul>
      <li><a href="#">Qu’est-ce que WheelsForPets ?</a></li>
      <li><a href="#">Vous êtes une association ?</a></li>
      <li><a href="#">Vous êtes un professionnel ?</a></li>
    </ul>
    <ul>
      <li><a routerLink='/mentionslegales'>Mentions légales</a></li>
      <li><a href="#">CGV</a></li>
      <li><a href="#">Mentions légales</a></li>
    </ul>
  </div>
</div>