<div id="disclaimer" class="contenu-utile">
  <p class="text-blanc">La première plateforme dédiée au <span class="bold" git stat>transport d'animaux de
      compagnie</span></p>
</div>

<div id="section-search" class="contenu-utile">
  <h3 class="text-center">votre <span class="big-title">recherche</span></h3>
</div>

<div id="section-presentation" class="contenu-utile">
  <img src="assets/wfp_visual_presentation.png" />
  <div id="bloc-texte">
    <h3><img src="/assets/wfp-logo-titre.png" alt="C'est quoi Wheels For Pets ?" /></h3>
    <p class="text-intro">Déplacer son animal dans de bonnes conditions peut être un véritable parcours du combattant :
      pas de moyens de locomotion, pas assez de place... les raisons sont multiples.</p>
    <p>WheelsForPets proposent aux particuliers et aux associations de se mettre en relation avec d'autres particuliers
      pouvant véhiculer des animaux, ou avec des professionnels du transports. </p>
    <a href="#" class="button bg-vert text-blanc">En savoir plus</a>
    <div class="clear"></div>
  </div>
</div>

<div id="section-asso-pro">
  <div id="section-asso">
    <div class="contenu-utile-int">
      <h3 class="text-blanc">vous êtes <span class="big-title">une association ?</span></h3>
      <p class="text-intro, text-blanc">Déplacer son animal dans de bonnes conditions peut être un véritable parcours du
        combattant.</p>
      <p class="text-blanc">WheelsForPets proposent aux associations de se mettre en relation avec d'autres
        particuliers ou avec des professionnels du transports. </p>
      <a href="#" class="button bg-blanc text-gris">En savoir plus</a>
    </div>
  </div>
  <div id="section-pro">
    <div class="contenu-utile-int">
      <h3 class="text-blanc text-align-right">vous êtes <span class="big-title">un professionnel ?</span></h3>
      <p class="text-intro, text-blanc text-align-right">Vous êtes un professionnel du transports et vous souhaitez vous
        mettre au service de WheelsForPets ? </p>
      <p class="text-blanc text-align-right">WheelsForPets recherche activement des professionnels pour travailler avec
        eux et instaurer une relation de confiance ! </p>
      <a href="#" class="button bg-blanc text-gris">En savoir plus</a>
      <div class="clear"></div>
    </div>
  </div>
</div>

<div id=container-cartes>
  <h3 id="titre-dernieres-annonces" class="text-center">nos derniers <span class="big-title">covoiturages</span></h3>
  <mat-card class="carte-annonce" *ngFor="let annonce of annonceList | async | slice: 0:3">
    <a routerLink="/annonce/{{annonce.annonceId}}">
      <h4 class="titre-annonce">
        {{annonce.titre}}
      </h4>
      <div class="dates-annonce">
        <img src="/assets/baseline-today.svg" alt="#" /><span class="date-annonce">&nbsp;Dep.
          {{annonce.dateDepart|date:"dd/MM/yyyy"}}</span><span class="date-annonce"> Arr.{{annonce.dateArrivee|date:"dd/MM/yyyy"}}</span>
      </div>
      <div class="lieux-carte">
        <p>{{ annonce.villeDepart }}, ({{annonce.cpDepart}}) </p>
        <p>{{ annonce.villeArrivee }}, ({{annonce.cpArrivee}}) </p>
      </div>
      <div class="prix-carte">{{ annonce.prix | number:'1.2-2'}} €</div>
      <div class="redacteur-carte">
        <p>Annonce postée par</p>
        <p class="bold">{{ annonce.user.prenom}}</p>
      </div>
      <div class="button-annonce"><a href="#" class="button text-center bg-violet text-blanc">En savoir plus</a></div>
    </a>
  </mat-card>
  <div class="clear"></div>
  <a routerLink="/annonces" class="button bg-vert text-blanc">Toutes les annonces</a>
</div>

<div id="section-app">
  <div id="section-visuel-app">
    <img src="/assets/wfp_visual_app.png" alt="Téléchargez l'application" />
  </div>
  <div id="section-text-app">
    <p class="text-intro right contenu-utile-int">Vous serez bientôt</p>
    <p class="text-intro right contenu-utile-int"> encore plus mobile avec <span
        class="majuscule bold">l’application</span></p>
  </div>
  <div id="section-app-logo">
    <img src="/assets/wfp-logo-small.png" alt="Wheels For Pets" />
  </div>
  <div id="section-app-telechargement">
    <ul>
      <li><a href="#"><img src="/assets/google-play-button.png" alt="Téléchargez sur le Google Play" /></a></li>
      <li><a href="#"><img src="/assets/app-store-button.png" alt="Téléchargez sur l'Apple Store'" /></a></li>
    </ul>
  </div>
  <div class="clear"></div>
</div>